<div class="main">
  <div class="section">
    <div class="inner-card">
      <div class="app-heading fw-700 mb-2">Select a room</div>
      <p class="app-para-2 mb-5">
        Select a room from the available options below to complete your
        application.
      </p>

      <div class="main-container px-3">
        <div class="header">
          <span class="app-para-2">Third Floor</span>
          <p class="app-caption font-grey">5 Rooms Available</p>
        </div>

        <div class="item-container">
          <div class="item d-flex justify-content-center align-items-center">
            aaa
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
