.main {
  padding: 1rem;

  .section-1 {
    padding: 0 20%;

    @media (max-width: 991px) {
      padding: 0 1rem;
    }

    @media (max-width: 577px) {
      padding: 0 0.5rem;
    }

    .hall-select {
      padding: 0.5rem;
      border: 1px solid #ccc9c9;
      border-radius: 0.5rem;
      color: var(--app-primary-color);
    }
  }

  .section {
    padding: 0 20%;

    @media (max-width: 991px) {
      padding: 0 1rem;
    }

    @media (max-width: 577px) {
      padding: 0 0.5rem;
    }

    .inner-card {
      border: 1px solid #ccc9c9;
      border-radius: 0.625rem;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
        0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
      padding: 2rem 1.5rem;

      @media (max-width: 991px) {
        padding: 2rem 1rem;
      }
  
      @media (max-width: 577px) {
        padding: 2rem 0.5rem;
      }

      .main-container {
        .item-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
          gap: 0.5rem;

          .item {
            height: 4.375rem;
            border-radius: 0.25rem;
            color: #111111;
          }

          .bg-blue {
            background-color: #bfdeff;
            cursor: pointer;

            &:hover {
              background-color: #97cfad;
            }
          }

          .bg-grey {
            background-color: #ebebeb;
            cursor: not-allowed;
          }

          .bg-pink {
            background-color: #fedbe4;
          }
        }
      }
    }
  }

  .button-footer {
    .proceed-button {
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 0.25rem;
      background-color: #c6c9cd;
      text-transform: uppercase;
      color: #111111;
      cursor: not-allowed;
    }
  }
}
