/*  */

:root {
  --app-primary-color: #1e2244;
  --app-background: #ffffff;

  --app-success: #10b981;
  --app-warning: #eb9b00;
  --app-error: #d1292d;

  --app-black: #000000;
  --app-white: #ffffff;
  --app-grey: #b6b3b3;

  --app-room-blue: #bfdeff;
  --app-room-pink: #FEDBE4;
  --app-room-grey: #b3b3b3 ;
  --app-room-green: #0B9E43;
  --app-room-text: #111111;
}
