.app-heading {
  font-size: 1.5rem;

  @media (max-width: 991px) {
    font-size: 1rem;
  }
}

.app-sub-heading {
  font-size: 1.25rem;
}

.app-para-1 {
  font-size: 1rem;
}

.app-para-2 {
  font-size: 0.875rem;
}

.app-caption {
  font-size: 0.75rem;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.font-grey {
  color: var(--app-grey);
}
